# IDE files
.idea/
__pycache__/
.vscode/

# Virtual ENV
env/
venv/

# Models built by Rasa
models/

# Rasa logs
**/rasa_core.log

# Some text file output
grassroot-nlu/config.pyc            
grassroot-nlu/nsa/event_listener.txt
grassroot-nlu/system_status.txt 
grassroot-nlu/training_output.txt
grassroot-nlu/logs/nlu.log
core-platform/models/
core-platform/rasa_core.log
core-platform/__pycache__/
core-platform/story_graph.html
core-platform/graph.html
core-platform/story_graph.dot
core-livewire/story_graph.dot
core-platform/story_graph.png
core-platform/core.log

# Some config files
*_credentials.yml

# Scripts for startup etc
*.sh

# Serverless and its plugins
**/node_modules

# Also graphs and evaluation outputs
**/graph.png
**/matrix.pdf
**/failed_stories.md
**/story_confmat.pdf
*.log

# quick start bash file
.start.sh

# Some backups and test stuff that is WIP
*.back
