<!DOCTYPE html>
<html lang="en">
<head>
<!--link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css') }}"-->
</head>
<body>
    <h1>What would you like to do? </h1>
    <h5>(It will be converted to intent and entity values)</h5>
    <h5>Alternatively, enter how you would like to die and trust that it will be done.</h5>
    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
        <input type="hidden" name="uid" value={{ None }}>
    </form>
</body>
</html>
